@reference "../../../../styles/index.css";

.delete-btn {
    @apply min-w-2.5 text-xs bg-bg-rgba-2 text-grey;
    transition: var(--default-transition);

    span {
        @apply max-w-0 opacity-0;
        overflow: hidden;
        white-space: nowrap;
        transition: var(--default-transition);
    }

    &:hover {
        span {
            @apply max-w-xs opacity-100;
        }
    }
}