@reference "../../styles/index.css";

.input-container {
    @apply flex gap-0.5 items-center relative;

    &:has(input:user-valid) .valid-svg {
        @apply block -right-2 text-turquoise;
    }

    &:has(input:user-invalid) .error-svg {
        @apply block -right-2 text-red;
    }
}

.valid-svg,
.error-svg {
    @apply hidden absolute;
}

@media (hover: hover) and (pointer: fine) {
    label:has(.input-container input[type="checkbox"]) {
        &:hover {
            background: rgba(255, 255, 255, 0.1);
            transform: translateX(-10px);
            box-shadow: 0 5px 15px var(--color-rgba-dark);

            &::before {
                left: 100%;
            }
        }
    }
}