@reference "../../styles/index.css";

.rider-preferences {
    @apply flex flex-col p-2 lg:px-4 gap-1 my-auto relative w-full h-fit md:max-h-[75dvh] md:overflow-y-scroll xl:items-center;

    &::-webkit-scrollbar {
        width: 9px;
    }

    &::-webkit-scrollbar-track {
        background: var(--color-rgba-2);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-rgba-yellow);
        border-radius: 5px;
    }
}