@reference "../../styles/index.css";


.icon-label {
    @apply bg-bg-rgba-2 p-0 cursor-pointer focus-within:outline-2 focus-within:outline-text-secondary focus-within:outline-offset-2 hover:-translate-y-px has-checked:border-text-secondary has-checked:bg-rgba-secondary;
    background-image: url(../../assets/mask.png);
    background-size: cover;

    img {
        pointer-events: none;
    }
}