@reference "../../../../styles/index.css";

.leaflet-container .leaflet-control-attribution {
    @apply bg-transparent;
}

.leaflet-control-layers,
.leaflet-bar a {
    @apply bg-bg-main text-text;

    label {
        @apply font-main text-sm;
    }
}

.leaflet-bottom .leaflet-control-zoom a:hover {
    @apply bg-text-secondary text-bg-main;
}

.leaflet-control-layers-selector {
    @apply w-1 h-1 rounded-md;
    appearance: none;
    -webkit-appearance: none;

    &::after {
        content: "";
        background: var(--color-text-secondary);
        position: absolute;
        inset: 3px;
        border-radius: 2px;
        transform: scale(0);
        transition: 0.2s ease;
    }

    &:checked::after {
        transform: scale(1.2);
    }
}


.leaflet-touch .leaflet-bar {
    @apply border-grey rounded-lg;

    a:first-child {
        @apply rounded-t-md;
    }

    a:last-child {
        @apply rounded-b-md;
    }
}

.leaflet-touch .leaflet-control-layers {
    @apply rounded-xl border-grey;
}

.leaflet-overlay-pane svg {
    transition: transform 0.01s ease-out, opacity 0.2s ease-out;
}

.leaflet-dragging .leaflet-overlay-pane svg {
    opacity: 0.2;
}

.leaflet-bottom {
    @apply mb-1.5 md:mb-0;
}

.leaflet-left {
    @apply max-w-[85vw]
}

.leaflet-control {
    pointer-events: none;
}

.controls {
    @apply flex gap-0.5 flex-row pb-[5px] items-end flex-wrap md:mr-4;
}

.track-me-btn {
    @apply relative;

    &::after {
        content: "Track my location";
        position: absolute;
        top: -1.5rem;
        left: 0.5rem;
        width: max-content;
        background: var(--color-rgba-grey);
        color: var(--color-white);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        padding: 5px;
        border-radius: 5px;
        font-size: small;
        font-weight: 500;
        transform: scale(0);
        transition: var(--default-transition)
    }

    .track-icon {
        @apply drop-shadow-lg drop-shadow-grey w-2.5 h-2.5 text-dark-3;
    }
}

.add-spot-btn {
    @apply p-0 drop-shadow-lg drop-shadow-rgba-dark;

    &::after {
        content: "Add a new spot";
        position: absolute;
        top: -2.5rem;
        left: 1.5rem;
        width: max-content;
        background: var(--color-rgba-grey);
        color: var(--color-white);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        padding: 5px;
        border-radius: 5px;
        font-size: small;
        font-weight: 500;
        transform: scale(0);
        transition: var(--default-transition)
    }
}

@media (hover: hover) and (pointer: fine) {
    .add-spot-btn {

        &:hover::after,
        &:focus-visible::after {
            transform: scale(1);
        }
    }

    .track-me-btn {

        &:hover::after,
        &:focus-visible::after {
            transform: scale(1);
        }
    }
}