@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import "tailwindcss";

@theme {
  --spacing: 1rem;
  --font-main: "Inter", sans-serif;
  --font-title: "Racing Sans One", sans-serif;
  --font-special: "Special Elite", ui-monospace;
  --default-transition: 0.4s ease;
  --color-dark: #1a1a1a;
  --color-dark-2: #1b242d;
  --color-dark-3: #2e2e2e;
  --color-white: #f5f5f5;
  --color-white-2: #d9d9d9;
  --color-grey: #a1a1aa;
  --color-yellow: #facc15;
  --color-yellow-2: #eab308;
  --color-red: #ef4444;
  --color-turquoise: rgb(21, 177, 162);
  --color-rgba-dark: rgba(0, 0, 0, 0.6);
  --color-rgba-dark-2: rgba(0, 0, 0, 0.2);
  --color-rgba-grey: rgba(46, 46, 46, 0.5);
  --color-rgba-white: rgba(255, 255, 255, 0.4);
  --color-rgba-yellow: rgba(250, 204, 21, 0.4);
  --color-rgba-turquoise: rgba(21, 187, 132, 0.4);
  --background-image-hover-yellow: linear-gradient(90deg, transparent, rgba(255, 215, 0, 0.1), transparent);
  --color-text: var(--color-white);
  --color-bg-main: var(--color-dark);
  --color-bg-secondary: var(--color-dark-3);
  --color-bg-rgba: var(--color-rgba-dark);
  --color-bg-rgba-2: var(--color-rgba-grey);
  --color-rgba-secondary: var(--color-rgba-yellow);
  --color-bg-cta: var(--color-yellow);
  --color-text-cta: var(--color-dark);
  --color-bg-cta-secondary: transparent;
  --color-bg-cta-active: var(--color-yellow-2);
  --color-text-secondary: var(--color-yellow);
  --color-border: var(--color-rgba-white);
  --background-image-stripes: repeating-linear-gradient(45deg,
      #1a1a1a,
      #1a1a1a 10px,
      #1e1e1e 10px,
      #1e1e1e 20px);
}

:root[data-theme="light"] {
  --color-text: var(--color-dark);
  --color-bg-main: var(--color-white);
  --color-bg-secondary: var(--color-white);
  --color-bg-rgba: var(--color-rgba-white);
  --color-bg-rgba-2: rgba(255, 255, 255, 0.6);
  --color-rgba-secondary: var(--color-rgba-turquoise);
  --color-grey: #5e5e63;
  --color-turquoise: rgb(1, 144, 130);
  --color-bg-cta: var(--color-dark-3);
  --color-text-cta: var(--color-white-2);
  --color-bg-cta-secondary: var(--color-white-2);
  --color-bg-cta-active: var(--color-dark);
  --color-text-secondary: var(--color-turquoise);
  --color-border: var(--color-rgba-grey);
  --background-image-stripes: repeating-linear-gradient(45deg,
      #e1e1e1,
      #e1e1e1 10px,
      #dbdada 10px,
      #dbdada 20px);
}

@layer base {
  body {
    width: 100vw;
    max-height: 100dvh;
    font-family: var(--font-main);
    color: var(--color-text);
    background-image: url("../assets/hero.png");
    background-size: cover;
    background-position: bottom;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      inset: 0;
      opacity: 0.8;
      background: var(--background-image-stripes);
    }
  }

  *:not(.suggestion-list):focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 4px;
    outline-color: var(--color-text-secondary);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-bg-rgba-2;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-text-secondary opacity-30 rounded-md;
  }

  button,
  a,
  input,
  svg {
    cursor: pointer;
    transition: var(--default-transition);
  }

  h1 {
    @apply font-title text-text-secondary text-2xl;
  }

  h2 {
    @apply font-title text-text text-2xl;
  }

  h3 {
    @apply font-medium;
  }

  form {
    @apply flex flex-col gap-2 md:pr-1 w-full;
  }

  label:not(.theme-switcher, .map-label, .file-label) {
    @apply md:font-special text-text flex flex-col gap-0.5;

    &:has(input[type="checkbox"]) {
      @apply p-1 relative border border-grey bg-bg-rgba rounded-lg overflow-hidden;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      transition: var(--default-transition);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--background-image-hover-yellow);
        transition: var(--default-transition);
      }

      &:has(.input-container) {
        @apply my-0.5;
      }
    }
  }

  input {
    @apply border border-border;

    &:not([type="checkbox"], [type="radio"]) {
      @apply rounded-lg font-main font-medium text-sm px-1 py-0.5 w-full;
    }

    &[type="checkbox"] {
      @apply rounded-md grid place-content-center font-main;
      appearance: none;
      -webkit-appearance: none;
      width: 1.25rem;
      height: 1.25rem;

      &::before {
        content: "✓";
        color: var(--color-text-secondary);
        transform: scale(0);
        transition: 0.2s;
      }

      &:checked {
        @apply bg-bg-secondary shadow-lg shadow-rgba-dark-2;

        &::before {
          transform: scale(1.2);
        }
      }
    }
  }

  textarea {
    @apply border border-border rounded-lg px-1 mt-0.5 py-0.5 min-h-6 w-full;

    &::-webkit-scrollbar {
      @apply w-[4px];
    }
  }
}

@layer components {
  .scroll {
    &::-webkit-scrollbar {
      @apply w-[9px]
    }
  }

  .file-label {
    @apply flex gap-0.5 items-center;
  }

  .dialog-shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  }

  .slight-shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .button-shadow {
    box-shadow:
      0 4px 12px rgba(0, 0, 0, 0.4),
      inset 0 1px 5px rgba(255, 255, 255, 0.3);
  }

  .bg-blur {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .separator {
    @apply font-light text-xs text-center text-text flex items-center gap-1;

    &::before,
    &::after {
      content: "";
      @apply w-full flex border-b border-white;
    }
  }

  .standard-width {
    @apply w-[70%] md:w-fit;
  }

  .card {
    @apply flex gap-0.5 p-0.5 items-center rounded-lg border border-border overflow-hidden;

    .image-container {
      @apply w-3.5 h-3.5
    }

    .profile-avatar {
      @apply rounded-full p-[3px] border border-text-secondary;
    }
  }

  .spot-marker {
    @apply drop-shadow-lg drop-shadow-rgba-grey;
  }

  .error {
    @apply text-red text-sm;
  }

  .image-container {
    @apply w-full h-auto aspect-square;

    img {
      @apply object-cover h-full w-full;
    }
  }

  .spot-types-grid {
    @apply grid gap-0.5 pb-0.5;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }

  .tag {
    @apply bg-text-secondary text-bg-main px-0.5 py-[3px] rounded-md text-sm font-medium;
  }

  .score-container {
    @apply flex gap-1;

    button {
      @apply text-text;
    }
  }

}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1)
  }
}

;