@reference "../../../../styles/index.css";

.favorite-map-container {
    @apply w-full h-12 md:h-10 p-0 relative z-0 pointer-events-none cursor-pointer hover:-translate-px;
    transition: var(--default-transition);
}

.map-overlay {
    @apply flex justify-between absolute w-full h-full z-1000 pointer-events-auto;
}

.overlay {
    background-image: linear-gradient(to right, var(--color-rgba-white), transparent);
}

.submitted-card-container {
    @apply flex flex-col items-center gap-[3px] hover:text-text-secondary;
    transition: var(--default-transition);
}

.map-btn {
    @apply p-0 w-8 h-8 relative z-0 hover:-translate-px;
}