@reference "../../../../styles/index.css";

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1)
    }
}

.map-container {
    @apply w-full h-full;

    &:has(#expand-filters:checked) {
        #spot-type-filters {
            @apply block absolute md:relative bottom-[120%];
            animation: scale 0.5s forwards;
        }
    }
}

.map-label {
    @apply flex p-0.5 gap-0.5 font-medium text-sm;
}

.expand-filters-cta {
    @apply flex p-0 mt-0.5 justify-center items-center bg-bg-main w-3 h-3 rounded-full border border-rgba-dark-2 drop-shadow-lg drop-shadow-rgba-dark md:hidden;

    .expand-filters-icon {
        @apply w-2 h-2 text-text
    }
}

#spot-type-filters {
    @apply hidden md:block bg-bg-main rounded-md py-0.5 pl-0.5 pr-1.5 border-2 border-grey;
}

@media (width >=48rem) {
    .map-area {
        @apply w-1/2 h-full absolute right-0 top-0 z-0;

        &::after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            pointer-events: none;
            width: 80px;
            background: linear-gradient(to right, var(--color-rgba-dark), transparent);
            z-index: 999;
        }
    }
}