@reference "../../../../styles/index.css";


.search-container {
    @apply flex items-center gap-0.5 my-1;

    &:has(input:focus-visible) {
        @apply rounded-full;
        outline-width: 2px;
        outline-style: solid;
        outline-offset: 4px;
        outline-color: var(--color-text-secondary);
    }

    #search-form {
        @apply bg-bg-rgba relative rounded-full h-3 max-w-0 opacity-0 scale-x-0 invisible md:visible md:max-w-fit md:opacity-100 md:scale-100;
        transition: var(--default-transition);
        transform-origin: right center;
    }

    .search-button {
        @apply absolute right-0.5 bottom-0 top-0 text-text;
    }

    &:has(#expand-search:checked) {
        @apply gap-0 w-full;

        #search-form {
            @apply sticky visible max-w-xs opacity-100 scale-100;

            input {
                @apply shadow-none;
            }
        }

        button {
            @apply px-0.5
        }
    }

    .expand-search-cta {
        @apply flex md:hidden p-[5px] justify-center items-center w-3 h-3 shrink-0 rounded-full text-text-cta border-0;
    }
}