@reference "../../../styles/index.css";

.tag {
    @apply bg-text-secondary text-bg-main px-0.5 py-[3px] rounded-md text-sm font-medium;
}

.button-container {
    @apply grid grid-cols-2 gap-0.5 items-end mr-1 shrink-0;

    button,
    a {
        @apply w-2.5 h-2.5 md:w-2 md:h-2 p-[6px] bg-bg-secondary rounded-lg text-text border-grey relative hover:bg-text-secondary hover:text-bg-main;
    }

    a {
        @apply flex items-center justify-center border hover:-translate-y-px
    }
}

.spot-created-by {
    @apply font-special text-xs text-right text-text opacity-70 absolute bottom-0 w-full pt-[6px] pb-[4px] px-0.5 bg-bg-rgba-2 flex gap-[5px] items-center justify-end;

    &:hover+.rider-card-container {
        @apply block;
    }
}

.rider-card-container {
    @apply absolute hidden;
    animation: scale 0.5s forwards;
}

.gallery {
    @apply pl-1 md:pl-2 pr-0.5 mt-1.5;

    .slider {
        @apply flex gap-0.5 overflow-x-scroll h-[200px] pb-[4px] shrink-0 mt-0.5;
        -webkit-overflow-scrolling: touch;

        img {
            @apply h-full w-auto border border-bg-rgba rounded-lg;
        }

        &::-webkit-scrollbar {
            @apply h-[6px];
        }
    }
}

.edit-button::after {
    content: "Track my location";
    position: absolute;
    top: -1.5rem;
    left: 0.5rem;
    width: max-content;
    background: var(--color-rgba-grey);
    color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    font-weight: 500;
    transform: scale(0);
    transition: var(--default-transition)
}

.surface-quality-container {
    @apply flex flex-row-reverse gap-1 justify-end;

    button {
        @apply text-text;
    }
}