@reference "../../styles/index.css";

header {
    pointer-events: none;

    &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        height: 160px;
        background: linear-gradient(to bottom, var(--color-bg-rgba), transparent);
        z-index: -1;
    }

}

.logo-img {
    @apply w-9 md:w-12;
    filter: drop-shadow(1px 1px 10px black);
}