@reference "../../styles/index.css";

nav {
    @apply flex items-center font-title pointer-events-auto;

    .active {
        @apply cursor-default;
    }

    a:not(.profile-link-card).active,
    .active svg {
        @apply text-grey opacity-50;
    }

    a:not(.profile-link-card),
    button {
        @apply text-2xl text-text;

        &:not(.active):hover {
            @apply text-yellow-2;
        }
    }

    svg:not(.logout, .theme-svg) {
        @apply w-2 h-2;
    }

}

nav ul {
    @apply hidden md:flex md:items-center;

    li {
        @apply px-1 py-0.5;

        &:not(.auth) {
            @apply md:border-r md:border-border;
        }
    }


    .auth {
        @apply absolute right-1 md:static flex max-w-[70%] gap-1 items-center;

        button {
            @apply text-text hover:text-yellow-2;
        }
    }
}

.menu-toggle {
    @apply md:hidden text-yellow;
}

.input-menu {
    @apply sr-only;
}

@media (width <=48rem) {
    nav:has(.input-menu:checked) {
        @apply z-1 bg-bg-secondary fixed h-full inset-0 flex-col items-start p-1;

        ul {
            @apply block w-full py-6 overflow-x-auto;
        }

        li {
            @apply py-1;

            &:not(.auth) {
                @apply border-b border-grey;
            }

            &:first-child {
                @apply mt-2;
            }
        }

        .theme-switcher {
            @apply w-fit ml-auto scale-120 mb-2;
        }
    }
}

@media (orientation: portrait) {
    nav:has(.input-menu:checked) .theme-switcher {
        @apply absolute bottom-4 left-1/2 -translate-x-1/2;
    }
}