@reference "../../styles/index.css";

.navbar {
    @apply flex items-center font-title relative;

    .active {
        @apply cursor-default;
    }

    a:not(.profile-link-card).active,
    .active svg {
        @apply text-yellow-2 opacity-60;
    }

    a:not(.profile-link-card),
    button {
        @apply text-2xl text-white;

        &:hover {
            @apply text-yellow;
        }
    }

    svg:not(.logout) {
        @apply w-2 h-2;
    }

    .menu,
    .close {
        @apply text-yellow;
    }

    .close {
        @apply hidden;
    }
}

.navbar ul {
    @apply hidden md:flex md:items-center;

    li {
        @apply px-1 py-0.5;

        &:not(.auth) {
            @apply md:border-r md:border-rgba-white;
        }
    }


    .auth {
        @apply absolute top-0.5 right-1 md:static flex gap-1 items-center;

        button {
            @apply text-white hover:text-yellow;
        }
    }
}

.menu-toggle {
    @apply relative top-0 z-2 md:hidden;
}

@media (width <=48rem) {
    .navbar:has(input:checked) {
        ul {
            @apply fixed z-1 w-screen inset-0 flex flex-col bg-dark-3 px-2 py-6;
        }

        li {
            @apply py-1;

            &:not(.auth) {
                @apply border-b border-grey;
            }

            &:first-child {
                @apply mt-2;
            }
        }

        .menu {
            @apply hidden;
        }

        .close {
            @apply block;
        }
    }
}