@reference "../../../../styles/index.css";

.spot-created-by {
    @apply font-special text-xs text-right text-text opacity-70 absolute bottom-0 w-full pt-[6px] pb-[4px] px-0.5 bg-bg-rgba-2 flex gap-[5px] items-center justify-end;

    &:hover+.rider-card-container {
        @apply block;
    }
}

.rider-card-container {
    @apply absolute hidden;
    animation: scale 0.5s forwards;
}

.surface-quality-info {
    @apply scale-0 absolute left-1.5 top-0 bg-rgba-grey text-grey w-fit md:w-max;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    font-weight: 500;
    transition: var(--default-transition);
}

.info-icon:hover+.surface-quality-info,
.info-icon:focus-visible+.surface-quality-info {
    @apply scale-100;
}

.gallery {
    @apply pl-1 md:pl-2 pr-0.5 mt-1.5;

    .slider {
        @apply flex gap-0.5 overflow-x-scroll h-[200px] pb-[4px] shrink-0 mt-0.5;
        -webkit-overflow-scrolling: touch;

        img {
            @apply h-full w-auto border border-bg-rgba rounded-lg;
        }

        &::-webkit-scrollbar {
            @apply h-[6px];
        }
    }
}