@reference "../../../../styles/index.css";

.spot-created-by {
    @apply font-special text-xs text-right text-text opacity-70 absolute bottom-0 w-full pt-[6px] pb-[4px] px-0.5 bg-bg-rgba-2;

    &:hover+.rider-card-container {
        @apply block;
    }
}

.rider-card-container {
    @apply absolute hidden;
    animation: scale 0.5s forwards;
}

.surface-quality-info {
    @apply scale-0 absolute left-1.5 top-0 bg-rgba-grey text-grey w-fit md:w-max;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    font-weight: 500;
    transition: var(--default-transition);
}

.info-icon {
    @apply relative w-full text-grey;

    &:hover .surface-quality-info,
    &:focus-visible .surface-quality-info {
        @apply scale-100;
    }
}